<div class="announcement-bar" *ngIf="promociones.length > 0">
  <carousel [isAnimated]="true" [showIndicators]="true" [interval]="5000">
    <slide *ngFor="let promo of promociones">
      
      <img *ngIf="promo.imagenUrl" [src]="promo.imagenUrl" alt="slide de promoción" class="slide-image">
      <div class="carousel-caption">
        <h1>{{ promo.titulo }}</h1>
        <p>{{ promo.descripcion }}</p>
        <a href="#" class="btn btn-primary">Ver Más</a>
      </div>

    </slide>
  </carousel>
</div>