/* Fija el contenedor del encabezado en la parte superior */
.header-fijo-contenedor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}
.contenido-principal {
  padding-top: 10px; 
}