.register-page {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.branding-column {
  flex-basis: 50%;
  background-color: #fdf6f2; /* Color salmón pálido */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.branding-content .logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  margin-bottom: 20px;
}

.branding-content img {
  height: 300px;
  width: 300px;
  border-radius: 80%;
  object-fit: cover; 

}

.branding-content h2 {
  font-size: 36px;
  color: #333;
  margin: 0;
}

.branding-content p {
  font-size: 18px;
  color: #777;
  font-style: italic;
}

/* Columna Derecha (Formulario) */
.form-column {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.register-form {
  width: 100%;
  max-width: 400px;
}

.register-form h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.register-form p {
  color: #777;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #eb7221;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-link {
  margin-top: 25px;
  text-align: center;
  color: #777;
}

.login-link a {
  color: #eb7221;
  text-decoration: none;
  font-weight: bold;
}