<div class="order-history">
  <h2>Mi Historial de Pedidos</h2>
  <div *ngIf="listaDePedidos.length > 0; else noOrders">
    <table>
      <thead>
        <tr>
          <th>ID Pedido</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of listaDePedidos">
          <td>#{{ pedido.pedidoId }}</td>
          <td>{{ pedido.fechaPedido | date:'medium' }}</td>
          <td>S/ {{ pedido.total }}</td>
          <td><span class="status">{{ pedido.estado }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noOrders>
    <p>Aún no has realizado ningún pedido.</p>
  </ng-template>
</div>