.announcement-bar {
  background-color: #fcebe4; /* Color salmón pálido */
  padding: 8px 40px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #5f4c44;
}

.content span {
  font-weight: bold;
}

.promo-button {
  background-color: #ffffff;
  color: #e57373;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #e57373;
  font-size: 12px;
}