cloudinary:
  cloud-name: ddk8osgyk
  api-key: 848718324627338
  api-secret: IlW5Xc70JZOIqM9gOdNo13JkpWM
  secure: true

spring:
  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations: classpath:/static/

server:
  port: ${PORT:8080}
