<div class="catalog-container">
  <h1 class="catalog-title">Catálogo</h1>

  <div class="filter-bar">
    <div class="search-box">
      <input type="text" placeholder="BUSCAR PRODUCTO">
      <button>BUSCAR</button>
    </div>
    <select class="filter-select" (change)="filtrarProductos($event)">
      <option value="">TODOS</option>
      <option value="postre">Postres</option>
      <option value="bocadito">Bocaditos</option>
      <option value="torta">Tortas</option>
    </select>
    <a routerLink="/personalizar-torta" class="btn-personalizada">Pide tu Torta Personalizada</a>  </div>

  <div class="product-grid">
    <div class="product-card" *ngFor="let producto of listaDeProductos">

      <span *ngIf="producto.personalizable" class="badge-personalizable">Personalizable</span>

      <img [src]="producto.imagenUrl" [alt]="producto.nombre">
      

      <div class="product-info">
        <h3>{{ producto.nombre }}</h3>
        <p class="category">{{ producto.categoria }}</p>
        <p class="description">{{ producto.descripcion }}</p>
        <div class="price-action">
          <span class="price">S/ {{ producto.precioBase }}</span>
          <button *ngIf="producto.personalizable" (click)="abrirModalAdicionales()" class="btn-adicionales">Ver Adicionales</button>
          <button (click)="agregarAlCarrito(producto)" class="btn-pide">Añadir al Carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>